html {box-sizing: border-box;}
* {box-sizing: inherit;}

#sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 36px 18px;
}

#content {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    padding: 30px;
}

#avatar img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

a:link {
    text-decoration: none; /* remove underline */
    color: white;
}

a:hover {
}
