---
---

@import "fonts.css";
@import "code-highlighting.css";

html {
    box-sizing: border-box;
    font-size: 100%; /* default font size 16px */
}

* {box-sizing: inherit;}

body {
    font-family: Go;
}

#profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: auto;
    color: white;
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding-top: 20px;
}

#avatar {
    display: block;
    margin-top: 50px;
}

#avatar img {
    width: 150px;
    border-radius: 50%;
}

#profile ul, #main-navigation ul {
    list-style-type: none;
    display: flex; /* turn ul into a flexbox */
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* icons */
#profile ul a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 100%;
    color: #fff;
    font-size: 1.5rem;
}

.icon-github {
    background-color: #111010;
}

a {
    text-decoration: none;
}

#main-navigation a, .post-review a {
    color: #cb0000;
}

#main-navigation a:hover, .post-review a:hover {
    color: #e3001c;
    text-decoration: underline;
}

#main-navigation a {
    display: inline-block;
    padding: .4rem;
}

#main-navigation {
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: white;
    z-index: 1;
    color: rgb(181, 181, 181);
    font-size: .88em;
}

#main-content {
    position: absolute;
    top: 48px;
    left: 20%;
    right: 0;
    padding: 0 40px 0px 40px;
}

.post-review {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}

.post-info {
    color: #666565;
}

.text-box {
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 1px 5px;
    white-space: nowrap; // forbid line break
}

.command-line-code {
    font-family: 'Go Mono';
    font-size: .9rem;
}

.screenshots {
    margin: 0;
}

.screenshots img {
    width: 100%;
}

.screenshots figcaption {
    text-align: center;
    font-size: 80%;
}

.filename {
    font-family: 'Go Mono';
    font-size: .85rem;
    color: #00750a;
}

.cmake-command {
    font-family: "Go Mono";
    font-weight: bold;
    color: #2b63a8;
}

.language-cmake {
    font-family: "Go Mono";
    font-size: .8rem;
}

.cmake-var {
    font-family: "Go Mono";
    font-weight: bold;
    color: #8925e4;
}

.highlight {
    margin: 0;
}

.highlight pre {
    font-family: "Go Mono";
    background-color: #f3f3f3;
    overflow: auto;
    padding: 0 10px;
}
