<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Michael Tang">
        <title>
            {% if page.url == "/" %}
                {{ site.title }}
            {% else %}
                {{ site.title }} - {{ page.title }}
            {% endif%}
        </title>
        <link rel="stylesheet" href="/assets/css/theme.css">
    </head>

    <body>
        <header>
            <div id="profile">
                <div id="personal-info">
                    <a href="/" id="avatar"><img src="/assets/img/avatar.jpeg" alt="avatar"></a>
                    <h1>Michael</h1>
                </div>
            </div>

            {% include navigation.html %}
        </header>

        <div id="main-content">
            {{ content }}
        </div>
    </body>
</html>
